/* Cascading stylesheet for the website */

  a {
    color: white; /* To set the text color to blue */
    text-decoration: none; /* Hyperlink will not be underlined */
  }

  a:hover {
    color: red;
    text-decoration: none;
  }

  body {
    background-color: #C2BABC; /* To set the background color */
    color: black;
    font-family: Arial, Helvetica, sans-serif; /* To set the font here */
    text-align: center; /* To set the text alignment */
   }

  footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 {
    margin-bottom: 0.5rem;
    margin-top: 3rem;
   }

  h2 {
    color: #075AAB;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
   }

  h3 {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
  footer,hr {
    text-align: center;
  }
